@{
    ViewBag.Title = "Book Haven";
}

<div class="bg-light text-dark text-center py-5 shadow-lg">
    <div class="container">
        <h2 class="display-4 fw-semibold">Your Personal Book Journey</h2>
        <p class="mb-4 text-muted">Dive into the world of books—explore your past reads, plan your future ones, and set new challenges!</p>
        <a asp-controller="Book" asp-action="Index" class="btn btn-outline-dark btn-lg px-4">Discover Your Next Book</a>
    </div>
</div>
<div class="container my-5">
    <div class="row g-4">
        <div class="col-lg-6">
            <div class="card border-0 shadow-sm">
                <div class="card-body text-center">
                    <h5 class="text-info w-100">My Library</h5>
                    <p class="card-text text-muted">Keep track of the books you've finished and remember every journey.</p>
                    <a asp-controller="Books" asp-action="UserReadList" class="btn btn-outline-info w-100">Go to Library</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card border-0 shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title text-warning">Reading Goals</h5>
                    <p class="card-text text-muted">Organize your to-read list and set goals for the future.</p>
                    <a asp-controller="Books" asp-action="MarkAsWantToReadList" class="btn btn-outline-warning w-100">View Wishlist</a>
                </div>
            </div>
        </div>
    </div>
</div>