@{
    ViewBag.Title = "My Books";
}

<div class="bg-dark text-white text-center py-5">
    <div class="container">
        <h2 class="display-5 fw-bold">Your Gateway to the World of Books</h2>
        <p class="mb-4">Discover your favorite books, explore popular genres, and keep track of your reading journey.</p>
        <a asp-controller="Book" asp-action="Index" class="btn btn-primary btn-lg btn-block mx-auto w-50">Explore Books</a>

    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card p-4 text-center">
                <h5 class="card-title">Read List</h5>
                <p class="card-text">View all the books you've read and relive your favorite stories.</p>
                <a asp-controller="Books" asp-action="UserReadList" class="btn btn-primary">View Read List</a>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card p-4 text-center">
                <h5 class="card-title">Want to Read</h5>
                <p class="card-text">Browse your collection of books you want to read next.</p>
                <a asp-controller="Books" asp-action="UserWantToReadList" class="btn btn-primary">View Want to Read List</a>
            </div>
        </div>
    </div>
</div>
